<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LOCATION" value="VEN"/>
    <add key="COMPANY" value="MT"/>    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSItalcambioSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          useDefaultWebProxy="true" />
        <binding name="WSItalcambioSoap1" />
        <binding name="wstf_PCSoap">
          <security mode="Transport" />
        </binding>
        <binding name="wstf_PCSoap1" />
        <binding name="autBCVSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gisrvnetprueba1:40/WSItalcambio.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSItalcambioSoap"
        contract="WSItalcambio.WSItalcambioSoap" name="WSItalcambioSoap" />
      <endpoint address="https://wsa.transfastwmt.com/wstf_pc.asmx"
        binding="basicHttpBinding" bindingConfiguration="wstf_PCSoap"
        contract="TransfastService.wstf_PCSoap" name="wstf_PCSoap" />
      <endpoint address="http://localhost:56854/WSOIBCV.asmx" binding="basicHttpBinding"
        bindingConfiguration="autBCVSoap" contract="autBCV.autBCVSoap"
        name="autBCVSoap" />
    </client>
  </system.serviceModel>
</configuration>


