<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="autBCVSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://gisrvnetprueba1/WSOIBCV/WSOIBCV.asmx"
                binding="basicHttpBinding" bindingConfiguration="autBCVSoap"
                contract="autBCV.autBCVSoap" name="autBCVSoap" />
        </client>
    </system.serviceModel>
</configuration>